@import url('https://fonts.googleapis.com/css?family=Varela+Round');


:root 
{
    --main-color: #ad2333;
    --dark-text: #424242;
    --error: #9A2828;
    --success: #5cb85c;
}
  

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}




/* ================================================================== 
                                    GENEREAL STYLES
   ================================================================== */

.red-page
{
    width: 100vw;
    background-color: var(--main-color);
    padding-bottom: 20%;
}

.login-header
{
    width: 100%;
    text-align: center;
    padding-top: 100px;

}

.login-header img
{
    height: 200px;
}

.login-header h1
{
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin: 10px 0px;
}


.form-button
{
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    background-color:#fff;
    font-weight: 900;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: var(--dark-text);
    font-size: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/* ================================================================== 
                                    Login
   ================================================================== */


/*Login Form */

.form-authenticate
{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    animation-delay: 0.7s;

}

.form-authenticate input
{
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    background-color:#fff;
    padding-left: 5px;
    font-weight: 900;
    border: 2px solid #fff;
    border-radius: 5px;
}


.form-authenticate h1
{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}




/* ================================================================== 
                                    Register
   ================================================================== */

.register-button-group
{
    width: 300px;
    margin: 0 auto;
    animation-delay: 0.7s;
}


.register-button-group h1
{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

#register-client-form
{
    display: none;
    background-color: var(--main-color);
    padding-bottom: 30px;
}

#register-partner-form
{
    display: none;
    background-color: var(--main-color);
    padding-bottom: 30px;
}

.active-form
{
    display: block !important;
}

/* ================================================================== 
                                    Dashboard
   ================================================================== */

.dashboard
{
    width: 100vw;
    height: 100vh;
    display: flex;
}


/*LEFT*/

.left-menu
{
    width: 20%;
    height: 100%;
    background-color: #f3f3f3 ;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.logo
{
    padding-top: 30px;
    padding-bottom: 40px;
}

.logo img
{
    width: 190px;
}

.left-menu ul
{
    width: 100%;
}


.left-menu ul li
{
    text-align: center;
    list-style-type: none;
    font-size: 2em;
    color: #858585;
    padding: 40px 0px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    text-transform: uppercase;

}

.left-menu ul li a
{
    text-decoration: none;
    color: #858585;
}

.left-menu ul li:hover
{
    border-left: 5px solid var(--main-color);
    color: var(--main-color);
    
}

/*RIGHT*/


.right-content
{
    height: 100%;
    width: 80%;
    box-shadow: -5px 0px 10px 1px rgba(170,170,170,0.2);
    overflow: scroll;
}    

.right-content-title
{
    width: 100%;
    color: var(--main-color);
    text-align: center;
    font-size: 4em;
    margin-top: 30px;
}

/*RIGHT PARTNERS*/

#my-partners
{
    margin-top: 20px;
    height: 100%;
}

.partner
{
    width: 70%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;

}

.partner-picture
{
    width: 30%;
    position: relative;


}

.partner-picture img
{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


}

.partner-content
{
    width: 70%;
    position: relative;
    color: #424242;
    padding-left: 10px;
}

.partner-name
{
    margin-top: 5px;
}

.partner-address
{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.partner-date
{
    position: absolute;
    bottom: 0;
}
